registry=https://registry.npmjs.org/
hoist-pattern[]=@emotion/*
hoist-pattern[]=*babel*
hoist-pattern[]=postcss
hoist-pattern[]=pug
strict-peer-dependencies=false
shell-emulator=true
auto-install-peers=false
shamefully-hoist=true
dedupe-injected-deps=false
loglevel=silent
npm-version=11.1.0
